{% extends 'bases/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block title %}
Excel
{% endblock %}
{% block breadcrumb %}

{% endblock %}
{% block container %}
<div class="card-header">
    <div class="row">
        <div class="col">
            <a href="javascript:history.back()" class="btn btn-info"><i class="fas fa-arrow-left fa-1x"></i></a>&nbsp;
            <a href="{% url 'wo_import' %}" class="btn btn-info">工單匯入</a>
            <a href="{% url 'wo_search' %}" class="btn btn-info">工單查詢</a>
            {% if user.is_authenticated %}
                <a href="{% url 'stock_search' %}" class="btn btn-info">儲位叫車</a>
                <a href="{% url 'stock_import' %}" class="btn btn-info">主檔匯入</a>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="ml-md-auto">
            <a class="btn btn-info" href="{% url 'logout' %}" role="button"><i class="fas fa-sign-out-alt"></i>{% trans "logout" %} ({{ user.username }})</a>
        </div>
        {% endif %}
    </div>
</div>

{% block content %}
{% endblock content %}
{% endblock %}
{% block base_js %}
<script>
var error_msg = "{{ error_msg }}";
if(error_msg.length>0) {
    alert(error_msg);
}
</script>
{% endblock base_js %}