{% extends 'stock/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block js %}
<script src="{% static 'base\js\jquery.redirect.js' %}"></script>
<script>
    var storage = {
      'info': function(storage_id) {
          $.redirect('{% url 'location_list' %}', {'pk': storage_id, 'csrfmiddlewaretoken': '{{csrf_token}}'});
      }
    };
</script>
<!-- jquery-loading v1.3.0 -->
<link href="https://cdn.jsdelivr.net/npm/jquery-easy-loading@1.3.0/dist/jquery.loading.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/jquery-easy-loading@1.3.0/dist/jquery.loading.min.js"></script>
{% endblock js %}
{% block content %}
<div class="pt-3">
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div id="storage_data" class="table-responsive" style="height:600px; overflow:auto;">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr class="text-center table-active">
                        <th scope="col" class="text-center text-nowrap" style="" data-order="desc">倉庫代碼</th>
                        <th scope="col" class="text-center text-nowrap" style="width: 15%;" data-order="desc">倉庫類型</th>
                        <th scope="col" class="text-center text-nowrap" style="width: 15%;" data-order="desc">倉庫狀態</th>
                        <th scope="col" class="text-center text-nowrap" style="width: 15%;" data-order="desc">說明</th>
                    </tr>
                </thead>
                <tbody>
                    <style>
                        #storage_data > table > thead > tr > th {
                            cursor: pointer;
                        }

                        .data-row {
                            cursor: pointer;
                        }
                    </style>
                    {% for storage in storages %}
                    <tr class="data-row" onclick="storage.info('{{ storage.pk }}');">
                        <td class="text-center text-nowrap">{{ storage.storage_code }}</td>
                        <td class="text-center text-nowrap">{{ storage.type }}</td>
                        <td class="text-center text-nowrap">{{ storage.enable }}</td>
                        <td class="text-center text-nowrap">{{ storage.desc|default:'' }}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-1"></div>
</div>

</div>
{% endblock %}