{% extends 'stock/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block css%}
<style>
    #location_data > table > thead > tr > th {
        cursor: pointer;
    }

    .data-row {
        cursor: pointer;
    }
</style>
{% endblock css %}
{% block js %}
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<!-- jquery-loading v1.3.0 -->
<link href="https://cdn.jsdelivr.net/npm/jquery-easy-loading@1.3.0/dist/jquery.loading.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/jquery-easy-loading@1.3.0/dist/jquery.loading.min.js"></script>
<script>
    call = function(storage, location, lift, access_point) {
        $.ajax({
            type: "POST",
            dataType: 'json',
            url: "{% url 'call_location' %}",
            data: {'storage': storage, 'location': location, 'lift': lift, 'access_point': access_point, 'csrfmiddlewaretoken': '{{csrf_token}}'},
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            success: function(data) {
                console.log('storage:'+ storage+',location:'+ location+ ',lift' + lift + ',access_point:' + access_point)
                alert(data);
            }
        })
    }

    item_check = function(wo_no, item_code) {
        var item_checked = $("#check_"+item_code).prop('checked');
        $.ajax({
            type: "POST",
            dataType: 'json',
            url: "{% url 'call_wo_item_check' %}",
            data: {'wo_no': wo_no, 'item_code': item_code, 'item_checked': item_checked, 'csrfmiddlewaretoken': '{{csrf_token}}'},
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            success: function(data) {
                console.log(data)
            }
        })
    }

</script>
{% endblock js %}
{% block content %}
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="p-3">
            <form action="{% url 'wo_search' %}" method="POST">
                {% crispy search_form %}
            </form>
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="text-center table-active">
                    <th scope="col" class="text-center text-nowrap" style="width: 10%;">狀態</th>
                    <th scope="col" class="text-center text-nowrap" style="width: 20%;">料號</th>
                    <th scope="col" class="text-center text-nowrap" style="width: 20%;">說明</th>
                    <th scope="col" class="text-center text-nowrap" style="width: 10%;">數量</th>
                    <th scope="col" class="text-center text-nowrap" style="width: 20%;">儲格</th>
                    <th scope="col" class="text-center text-nowrap" style="width: 20%;"></th>
                </tr>
            </thead>
            <tbody>
                {% for wo_item in items %}
                <tr class="data-row">
                    <td><input type="checkbox" id="check_{{ wo_item.item.item_code }}" data-toggle="toggle" data-on="領" data-off="待" data-onstyle="primary" data-offstyle="light" onchange="item_check('{{ wo_item.wo_no }}','{{ wo_item.item.item_code }}')" {% if wo_item.checked %}checked{% else %}''{% endif %}></td>
                    <td class="text-center text-nowrap">{{ wo_item.item.item_code }}</td>
                    <td class="text-center text-nowrap">{{ wo_item.item.desc }}</td>
                    <td class="text-center text-nowrap">{{ wo_item.qty }}</td>
                    <td class="text-center text-nowrap">{{ wo_item.item.bin.bin_name }}</td>
                    <td class="text-center text-nowrap"><button type='button' class='btn btn-info' onclick="call('{{ wo_item.item.bin.location.storage.storage_code }}','{{ wo_item.item.bin.location.mach_location_code }}','{{ wo_item.item.bin.location.storage.lift }}','{{ wo_item.item.bin.location.storage.access_point }}')">叫車</button></td>
                </tr>
                {% endfor %}
        </table>
    </div>
    <div class="col-1"></div>
</div>

{% endblock %}